*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f6f8f9;
}


/* HEADER */
header{
    margin-bottom: 3%;
    background-color: white;
}

.container-header{
    height: 11vh;
    width: 90%;
    margin: auto;
    background-color: white;
    line-height: 11vh;
}

.container-header span{
    vertical-align: middle;
    font-size: 2.5rem;
    font-weight: bold;
}

#logo{
    vertical-align: middle;
    height: 55px;
}
/* /HEADER */

/* MAIN */
main{
    background-color: #f6f8f9;
}

.container-main{
    width: 60%;
    margin: auto;
    background-color: white;
    border-radius: 1.5%;
}

.header-main{
    padding: 0.6em 2.2em;
}

.body-main{
    padding-bottom: 45px;
}

/* BUTTON */
.header-main button{
    margin-right: 0.25%;
    padding: 0.5em;
    font-size: 0.8rem;
    border-color: #e8f1f3ac;
    border-radius: 5px;
    
}

#button1{
    color: white;
    background-color: #46adf1;
}

#button2{
    color: grey;
    background-color: white;
}
/* /BUTTON */

hr{
    border-color: #e8f1f341;
}

/* LIST */
ul{
    list-style-type: none;
}

.main-list{
    margin-left: 2%;
}

li{
    margin-top: 15px;
}

.main-li{
    margin-top: 40px;
}
/* /LIST */

/* LABEL */
.label{
    font-size: 0.7rem;
    color: white;
    padding: 0.5em;
    border-radius: 12px;
}

.label1{
    background-color: #46adf1;
}

.label2{
    background-color: #9c72e4;
}

.label3{
    background-color: #64c0a9;
}

.label4{
    background-color: #f29e33;
}

.label5{
    background-color: #d763a1;
}

.label6{
    background-color: #b0c925;
}
/* /LABEL */

.check{
    color: green;
    border-radius: 50%;
    border: 1px solid green;
    text-align: center;
    line-height: 1.4rem;
    display: inline-block;
    width: 1.4rem;
    height: 1.4rem;
}

.cross{
    color: red;
    border-radius: 50%;
    border: 1px solid red;
    text-align: center;
    line-height: 1.4rem;
    display: inline-block;
    width: 1.4rem;
    height: 1.4rem;
}

/* /MAIN */